.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20%;
    height:50vh;
}

.forecast-cards-container{
    height:30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2%;
    flex-wrap: wrap;
}


